/* elements comuns a tots els dispositius */
.container {
    background-color: rgb(32, 31, 31);
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
}

/* primer contenidor -> nav */
#menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 40, 159);
    padding: 1rem;
    margin: 1.5rem 1.5rem 0.75rem 1.5rem;
    width: auto;
}

#menu-1,
#menu-2,
#menu-3 {
    background-color: rgb(249, 87, 87);
}
#menu-1,
#menu-3 {
    padding: 0.75rem;
    width: 25%;
    margin: 0.25rem;
}
#menu-2 {
    padding: 0.75rem;
    width: 55%;
    margin: 0.25rem;
}

header {
    background-color: rgb(255, 132, 0);
    padding: 1rem;
    margin: 0.75rem 1.5rem 1.55rem 1.5rem;
    width: auto;
}

#header-text {
    background-color: rgb(251, 251, 107);
    padding: 0.75rem;
}

/* segon contenidor -> article */
article {
    margin: 1rem 0 1rem 0;
}

#main-article {
    background-color: rgb(73, 45, 156);
    margin: 1.5rem 0.75rem 1.5rem 1.5rem;
}
.article-text {
    display: flex;
    flex-direction: row;
}
.article-text-line {
    background-color: rgb(46, 46, 252);
}
#article-footnote {
    background-color: rgb(136, 136, 248);
    padding: 0.75rem;
}

aside {
    background-color: rgb(255, 76, 76);
    width: 35%;
    margin: 1.5rem 1.5rem 1.5rem 0.75rem;
}

.aside-text {
    background-color: rgb(255, 243, 152);
    padding: 0.75rem;
    width: 1fr;
    justify-content: flex-start;
    margin: 1rem 1rem 0 1rem;
}

/* tercer contenidor -> footer */
#footer-text {
    background-color: rgb(254, 183, 60);
    padding: 1rem;
    margin: 1.5rem;
    width: auto;
}

/* exercici 3 - nivell 1 -> diseny per a mòvil (max-width: 480px) */
@media screen and (max-width: 480px) {
    #menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 2rem 2rem;
        grid-row-gap: 1rem;
        padding: auto;
    }

    #menu-1,
    #menu-2,
    #menu-3 {
        width: auto;
    }

    article {
        padding: auto;
        display: grid;
        background-color: rgb(253, 253, 57);
    }

    #main-article {
        width: auto;
        margin: 1rem 1rem 0.5rem 1rem;
        padding: auto;
    }
    .article-text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5rem 1.5rem;
        row-gap: 1rem;
        margin: 1rem;
    }
    #article-footnote {
        width: auto;
        margin: 1rem;
    }
    aside {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10%;
        row-gap: 2rem;
        margin: 0.5rem 1rem 1rem 1rem;
        padding: auto;
    }
}


/* exercici 2 - nivell 1 -> diseny per a tablet (max-width: 768px) */
@media screen and (min-width: 481px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    article {
        background-color: rgb(255, 251, 39);
        display: flex;
        flex-direction: column;
        padding: auto;
    }
    #main-article {
        width: auto;
        margin: 1.5rem 1.5rem 0.75rem 1.5rem;
        padding: auto;
    }
    .article-text-line {
        width: 100%;
        padding: 1rem;
        margin: 1rem;
    }
    #article-footnote {
        width: auto;
        padding: 1rem;
        margin: 0.5rem 1rem 1rem 1rem;
    }
    aside {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0.75rem 1.5rem 1.5rem 1.5rem;
        padding: 0.75rem;
        justify-content: center;
    }
}

/* exercici 1 - nivell 1 -> max width: 1200px */
@media screen and (min-width: 769px) {

    article {
        background-color: rgb(32, 31, 31);
        display: flex;
        flex-direction: row;
    }
    #main-article {
        width: 75%;
        margin: 1.5rem 0.75rem 1.5rem 1.5rem;
    }
    #article-footnote {
        width: 1fr;
        padding: 0.75rem;
        margin: 1rem;
    }
    .article-text-line {
        width: 100%;
        padding: 0.75rem;
        margin: 1rem 1rem 0 1rem;
    }
    aside {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1.5rem 1.5rem 1.5rem 0.75rem;
    }
}